* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

svg {
	margin: 0 auto;
	overflow: visible;
	/* border: 1px solid black; */
	position: absolute;
	left: 125px;
	top: 50px;
}

#lineSpace {
	border-right: 1px solid black;
}

path {
	animation: drawLine 15s ease-in forwards 0s;
	stroke-dasharray: 10000;
	stroke-dashoffset: 10000;
}

@keyframes drawLine {
	to {
		stroke-dasharray: 10000;
		stroke-dashoffset: 0;
	}
}

rect {
	/* animation: drawRect 5s ease-in forwards; */
}

@keyframes drawRect {
	from {
		height: 0;
	}
}
